* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.container{
    display: flex;
    height: 500px;
    width: 900px;
    background-color: #fff;
    background-image:  url(./images/illustration-woman-online-desktop.svg),url(./images/bg-pattern-desktop.svg);
    background-position: left -5rem center, left -35rem bottom -12rem;
    background-repeat: no-repeat;
    justify-content: space-between;
    border-radius: 20px;
    overflow:hidden;
}
.pic{
    position: relative;
}
.pic img{
    position:absolute;
}
.pic1{
    top: 41%;
    left: -90px;   
}
.text{
    width: 50%;
    padding: 40px;
    max-height: 420px;
}
.list{
    list-style: none;
    margin-top: 20px;
}
.list div{
    padding: 10px 0 10px 0;
    
}
h5{
    font-size: 14px;
    font-weight: 400;
    color:hsl(240, 6%, 50%) ;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    
}
.sublist{
    border-bottom: 1px solid hsl(240, 5%, 91%);
}
.question:hover{
    cursor: pointer;
}
h5:hover{
    color: hsl(14, 88%, 65%);
}
.answer{
    height: 0;
    max-width: 70%;
    overflow: hidden;
    transition: .5s;
    font-size: 12px;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
}
.question.active h5{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    font-size: 16px;
}
.question.active + .answer{
    height: 40px;
}
.arrow{
    transition: transform 0.3s ease;
}
.active .arrow{
    transform: rotate(180deg);
}

.pic2{
    display: none;
}

@media only screen and (max-width: 990px){
    .container{
        flex-direction: column;
        height: auto;
        width: 65%;
        background-image:  url(./images/bg-pattern-mobile.svg);
        background-position:  top center;
        margin: 200 auto 200 auto;
    }
    .pic{
        top: -110px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .pic2{
        display: block;
        margin-right: 30px;
    }
    .pic1{
        display: none;
    }
    h1{
        text-align: center;
    }
    .text{
        width: 100%;
        margin-top: 60px;
    }
    .question{
        width: 96%;
    }
    .question.active + .answer{
        height: 50px;
    }
}
